/*@import url("https://fonts.googleapis.com/css?family=Devonshire");*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}
.main {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    width: 100%;
    animation: colorin 0.8s 1s ease forwards;
}
@keyframes colorin {
    100% {
        width: 100%;
        height: 100vh;
        background: #fff;
    }
}

nav {
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    background: #11698e;
    height: 55px;
    width: 100%;
    position: fixed;
    border-radius:0px 0px 10px 10px;
    opacity: 0;
    z-index: 111111;
    animation: fadein 0.8s 1s ease forwards;
}

@keyframes fadein {
    100% {
        opacity: 1;
        visibility: visible;
    }
}

ul {
    display: flex;
    align-items: center;
}
ul li{
    margin: auto 50px;
    list-style: none;
}

ul li a {
    align-self: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
    opacity: 0.7;
}

ul li a span {
    display: block;
    height: 3px;
    width: 0%;
    margin-left: 5px;
    background: #023683;
    transition: all 0.5s;
}
ul li a:hover {
    opacity: 1;
}
ul li a:hover span {
    width: 100%;
}


/* Image */

.image {
    display: grid;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    height: 100vh;
    animation: fadein 2s 2s ease forwards;
}

.splash {
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.329), rgba(8, 0, 6, 0.5)),
    url('https://wallpapercave.com/wp/wp2461042.jpg') fixed no-repeat;
    width: 100%;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    transition: all 1s; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* animation: flash 1s ease forwards; */
}


/* Bouncing Ball */

#ball {
    height: 15vh;
    width: 15vh;
    margin-top: -60vh;
    border-radius: 50%;
    background: #11698e;
    justify-self: center;
    transition: margin-top 1s;
    animation: drop 1s ease forwards,
    faceoff 0.3s 0.9s ease forwards;

}


@keyframes faceoff {
    100% {
        width: 100%;
        border-radius: 0px;
    }
}

@keyframes drop {
    0% {
        margin-top: 0vh;
    }

    20% {
        margin-top: -80vh;
    }

    40% {
        margin-top: 20vh;

    }

    100% {
        margin-top: -108vh;
        visibility: hidden;
        display: none;
    }

}



/*  */
h3 {
    font-weight: lighter;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Raleway', serif;
    text-transform: capitalize;
    background-image: linear-gradient(90deg, #FC766AFF, #00539CFF,#5B84B1FF);
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 5s linear infinite;
}

@keyframes shine {
    0% {
        background-position: -500% 0;
    }

    100% {
        background-position: 500% 0;
    }
}

.profile_btn {
    display: grid;
    align-items: center;
    justify-content: center;
}

.profile_btn a {
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 22px;
    text-decoration: none;
    padding: 10px 15px;
    background-color: transparent;
    color: aliceblue;
    text-transform: uppercase;
    border: 4px solid ghostwhite;
    cursor: pointer;
    transition: all 1s;
}
.profile_btn a:hover {
    border:4px solid #11698e;
    color: #11698e;
}

#gallery {
    display: flex;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:aliceblue;

}
.about_con {
    align-items: center;
    text-align: justify;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Bebas Neue';
}

.products {
    display: block;
    width: 100%;
    height: auto;
    /* background-color: #EEEEEE; */
}

.product_show {
    display: flex;
    width: 100%;
}
.product_show div {
    align-items: center;
    justify-content: center;
}
.product_show img {
    height: 250px;
    width: 250px;
    margin:0px 50px;
    cursor: pointer;
}
.featured__img {
    display: flex;
}

.round {
    display: block;
    height: 200px;
    width: 200px;
    margin-top: -220px;
    margin-left: 140px;
    background-color: #00A5C4;
    border-radius: 50%;
}
.product_show div h2,
.product_show div h1 {
    text-align: center;
    opacity: 0;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}

.product_show div:hover h1,
.product_show div:hover h2 {
    opacity: 1;
}



/*  */

#list {
    /* padding-top: 5vh; */
    display: flex; 
    width: 100%;
    height: 200vh;
    background-color: #EEEEEE;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body{
   display: flex; 
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   
}
.pro_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container{
    position: relative;
    margin: 0px 50px;
}
.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    overflow: hidden;
    background: #232323;
    border-radius: 20px;
}
.container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}

.container .card:after{
    content: 'Nike';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgb(255, 255, 255,0.04);

    
}

.container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.container .card:hover .imgBx{
    top: 0%;
    transform:translateY(0%);
}
.container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 270px;
}
.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx{
   height: 210px; 
}
.container .card .contentBx h1{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .size{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px ;
    transition: 0.5s;
}

.container .card .contentBx .size h2{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;

}
.container .card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align:center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover{
    background: red;
}

.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration:none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.7s;
}

.con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.con p {
    font-size: 55px;
}

.text {
    color: black;
}

.reflection {
    background: linear-gradient(black, rgba(255, 255, 255, 0.3));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transform: rotateX(180deg);
    position: relative;
    bottom: 65px;
    margin-top: -8px;
}

